{% extends 'base.html' %}
{% block body_block %}

<div class="w3-sidebar  w3-bar-block" style="width:25%;padding: 10px; overflow: hidden; background-color: #96cbeb;">
    <div class="row">
        <div class="col-3">
            {% if user.employee_profile.profile_pic %}
            <img src="/media/{{user.employee_profile.profile_pic}}" width="100px" height="100px" class="rounded-circle">
            {% else %}
            <img src="/media/default.jpg" width="100px" height="100px" class="rounded-circle">
            {% endif %}
        </div>
        <div class="col-6">
            <h4>&nbsp; &nbsp;&nbsp;{{user.username}} </h4>
            <h3>&nbsp; &nbsp;&nbsp;{{user.admin_profile.full_name}}</h3>
        </div>
    </div>
    <hr style="border-top: 1px solid #0d1215;">
    <p>{{user.admin_profile.description|linebreaks}}</p>
    <ul style="list-style-type: none; margin: 0; padding: 0;">
         <li>
           <a href="{% url 'Home_App:em_home' %}" class="w3-bar-item w3-button">Home</a>
        </li>
        <li>
           <a href="{% url 'Login_App:em_profile' %}" class="w3-bar-item w3-button">Profile</a>
        </li>
        <li>
           <a href="{% url 'Login_App:employee_edit' %}" class="w3-bar-item w3-button">Edit Profile</a>
        </li>
        <li>
           <a href="{% url 'Payment_App:orders' %}" class="w3-bar-item w3-button">Orders</a>
        </li>

        <li>
              <a class="w3-bar-item w3-button" href="{% url 'Login_App:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>

        </li>
    </ul>
    </div>

<!-- Page Content -->
<div style="margin-left:25%">
<div class="w3-container">
<div class="container mt-5">
  <h2 class="text-center"><strong>My record</strong></h2>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5" style="height:auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order Id</th>
                <th scope="col">Products</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="#">{{ order.orderId }}</a></td>
                <td>
                  {% for product in order.orderproduct.all %} {{product}} <br> {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}