{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{%block css_block%}

{% endblock%}

{%block body_block%}
<br><br><br>
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;padding: 10px;">

    <div>
        {% if user.employee_profile.profile_pic %}
    <img src="/media/{{user.employee_profile.profile_pic}}" width="160px" height="160px" class="rounded-circle">
    {% else %}
    <img src="/media/default.jpg" width="160px" height="160px" class="rounded-circle">
    {% endif %}
    <h1>{{user.username}} &nbsp; <a href="{% url 'Login_App:admin_edit' %}" class="btn btn-light">Edit Profile</a></h1>
    <h3>{{user.employee_profile.full_name}}</h3>
    <p>{{user.employee_profile.description|linebreaks}}</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  New Post
</button>
    </div>


    </div>



<!-- Page Content -->
<div style="margin-left:30%">

<div class="w3-container">
    {% for profile in allprofile %}
            <div class="border rounded " style="background-color: #ffffff;">
                <a>&nbsp;{{profile.full_name}}</a>
                <hr>
            </div>
            <hr>
    {% endfor %}


</div>
</div>

{%endblock%}