{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block body_block%}
<div class="w3-sidebar  w3-bar-block" style="width:25%;padding: 10px; overflow: hidden; background-color: #96cbeb;">
    <div>
        {% if user.seller_profile.profile_pic %}
        <img src="/media/{{user.seller_profile.profile_pic}}" width="100px" height="100px" class="rounded-circle">
        {% else %}
        <img src="/media/default.jpg" width="100px" height="100px" class="rounded-circle">
        {% endif %}
        <h1>{{user.username}} &nbsp;
        </h1>
        <h4>{{user.product.count}} Products posts</h4>

    </div>
    <hr style="border-top: 1px solid #0d1215;">
    <h3>{{user.seller_profile.full_name}}</h3>

    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li>
            <a href="{% url 'Home_App:se_home' %}" class="w3-bar-item w3-button">Home</a>
        </li>
        <li>
            <a href="{% url 'Login_App:se_profile' %}" class="w3-bar-item w3-button">Profile</a>
        </li>
        <li>
            <a href="{% url 'Login_App:seller_edit' %}" class="w3-bar-item w3-button">Edit Profile</a>
        </li>

        <li>
            <a href="{% url 'Seller_App:product_details' %}" class="w3-bar-item w3-button">Products List</a>
        </li>

        <li>
            <a class="w3-bar-item w3-button" href="{% url 'Login_App:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>

        </li>
    </ul>
</div>
<!-- Page Content -->
<div style="margin-left:25%">
<div class="w3-container">
<div class="border rounded mt-6 col-sm-7">
  <p><h3 style="text-align: center;">Complete Profile</h3></p>
  <form method="POST" enctype="multipart/form-data" >
  {{form|crispy}}
  {% csrf_token %}
  <button type="submit" name="button" class='btn btn-primary'>Submit</button>
    <br>
</form>
  <br>
</div>
</div>
</div>

<br><br>
{% endblock %}