{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block body_block%}
<div class="w3-sidebar  w3-bar-block" style="width:25%;padding: 10px; overflow: hidden; background-color: #96cbeb;">
    <div>
        {% if user.seller_profile.profile_pic %}
        <img src="/media/{{user.seller_profile.profile_pic}}" width="100px" height="100px" class="rounded-circle">
        {% else %}
        <img src="/media/default.jpg" width="100px" height="100px" class="rounded-circle">
        {% endif %}
        <h1>{{user.username}} &nbsp;
        </h1>
        <h4>{{user.product.count}} Products posts</h4>

    </div>
    <hr style="border-top: 1px solid #0d1215;">
    <h3>{{user.seller_profile.full_name}}</h3>
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li>
            <a href="{% url 'Home_App:se_home' %}" class="w3-bar-item w3-button">Home</a>
        </li>
        <li>
            <a href="{% url 'Login_App:se_profile' %}" class="w3-bar-item w3-button">Profile</a>
        </li>
        <li>
            <a href="{% url 'Login_App:seller_edit' %}" class="w3-bar-item w3-button">Edit Profile</a>
        </li>

        <li>
            <a href="{% url 'Seller_App:product_details'  %}" class="w3-bar-item w3-button">Products List</a>
        </li>

        <li>
            <a class="w3-bar-item w3-button" href="{% url 'Login_App:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>

        </li>
    </ul>
</div>

<!-- Page Content -->
<div style="margin-left:25%">
<div class="w3-container">
    {% for news in news %}
        <div class="ticker " style="display:flex;flex-wrap:warp; width:100%; height:50px;">
            <div class="title" style="width:25%; text-align:center;background:#c81c1c;">
                <h3>Breaking News</h3>
            </div>
            <div class="news" style="width:80%; background:#cc4444; padding: 13px;">
                <marquee>
                    <p>
                        {{news.text}}
                    </p>

                </marquee>
            </div>
        </div>
        <br>
        {% endfor %}
    <br>
    {% for product in user.product.all %}
    <div class="card rounded" style="height:auto">
        <div class=" " style="background-color: #ffffff;">
            <div style="margin-left: 10px;">
                <a>&nbsp;&nbsp;<i class="fas fa-clock" style="color:#82B6D9;"></i>&nbsp;{{product.upload_date}}</a>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 " style="margin: 10px;">
                    <p><b>Descriptions :</b> {{product.descriptions}}</p>
                    <hr>
                    <p><b>Address :</b> {{product.address}}</p>
                    <p><b>Price :</b> {{product.price}}</p>
                </div>
                <div class="col-5">
                    <img class="crop mx-auto d-block" width="200px" height="200px" src="/media/{{product.image}}">
                </div>
            </div>
        </div>
        <hr>
    </div>
    <br>
    {% endfor %}
    <br>
</div>
</div>


{%endblock%}