{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block body_block%}
<div class="w3-sidebar  w3-bar-block" style="width:25%;padding: 10px; overflow: hidden; background-color: #96cbeb;">
    <div>
        {% if user.seller_profile.profile_pic %}
        <img src="/media/{{user.seller_profile.profile_pic}}" width="100px" height="100px" class="rounded-circle">
        {% else %}
        <img src="/media/default.jpg" width="100px" height="100px" class="rounded-circle">
        {% endif %}
        <h1>{{user.username}} &nbsp;
        </h1>
        <h4>{{user.product.count}} Products posts</h4>

    </div>
    <hr style="border-top: 1px solid #0d1215;">
    <h3>{{user.seller_profile.full_name}}</h3>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        New Post
    </button>
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li>
            <a href="{% url 'Home_App:se_home' %}" class="w3-bar-item w3-button">Home</a>
        </li>
        <li>
            <a href="{% url 'Login_App:se_profile' %}" class="w3-bar-item w3-button">Profile</a>
        </li>
        <li>
            <a href="{% url 'Login_App:seller_edit' %}" class="w3-bar-item w3-button">Edit Profile</a>
        </li>

        <li>
            <a href="{% url 'Seller_App:product_details' %}" class="w3-bar-item w3-button">Products List</a>
        </li>

        <li>
            <a class="w3-bar-item w3-button" href="{% url 'Login_App:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>

        </li>
    </ul>
</div>

<!-- Page Content -->
<div style="margin-left:25%">
    <div class="w3-container">

        <h3 class ="alert alert-light border rounded mt-4 mb-4 rounded " align="center" ><b>About Me</b></h3>
        <table class="table table-hover border rounded">
            <thead>
              <tr>
                <th scope="col">Context</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
          <tbody>
          <tr>
            <td>Username</td>
              <td>{{ user}}</td>
          </tr>
          <tr>
            <td>Full Name</td>
              <td>{{ profile.full_name }}</td>
          </tr>
          <tr>
            <td>Address</td>
              <td>{{ profile.address_1 }}</td>
          </tr>
          <tr>
            <td>City</td>
              <td>{{ profile.city }}</td>
          </tr>
          <tr>
            <td>Zipcode</td>
              <td>{{ profile.zipcode }}</td>
          </tr>
          <tr>
            <td>Country</td>
              <td>{{ profile.country }}</td>
          </tr>
          <tr>
            <td>Phone</td>
              <td>{{ profile.phone }}</td>
          </tr>
          <tr>
            <td>Joined Date</td>
              <td>{{ profile.date_joined }}</td>
          </tr>
          </tbody>
          </table>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Post a Product</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {{form.as_p}}
                    {% csrf_token %}
                    <button type="submit">Post</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<br>



{%endblock%}