{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block body_block%}
<div class="w3-sidebar  w3-bar-block" style="width:25%;padding: 10px; overflow: hidden; background-color: #96cbeb;">
    <div class="row">
        <div class="col-3">
            {% if user.admin_profile.profile_pic %}
            <img src="/media/{{user.admin_profile.profile_pic}}" width="100px" height="100px" class="rounded-circle">
            {% else %}
            <img src="/media/default.jpg" width="100px" height="100px" class="rounded-circle">
            {% endif %}
        </div>
        <div class="col-6">
            <h4>&nbsp; &nbsp;&nbsp;{{user.username}} </h4>
            <h3>&nbsp; &nbsp;&nbsp;{{user.admin_profile.full_name}}</h3>
        </div>
    </div>
    <hr style="border-top: 1px solid #0d1215;">
    <p>{{user.admin_profile.description|linebreaks}}</p>
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li>
            <a href="{% url 'Login_App:ad_profile' %}" class="w3-bar-item w3-button">Dashboard</a>
        </li>

        <li>
            <a href="{% url 'Home_App:ad_home' %}" class="w3-bar-item w3-button">Home</a>
        </li>
        <li>
            <a href="{% url 'Login_App:admin_edit' %}" class="w3-bar-item w3-button">Edit Profile</a>
        </li>

        <li>
            <a href="{% url 'Admin_App:user_list' %}" class="w3-bar-item w3-button">Users List</a>
        </li>

        <li>
            <a href="{% url 'Admin_App:product_list' %}" class="w3-bar-item w3-button">Products List</a>
        </li>

        <li>
            <a class="w3-bar-item w3-button" href="{% url 'Login_App:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>

        </li>
    </ul>
</div>
</div>


<div style="margin-left:25%">
    <div class="w3-container">
        <br>
        <div class="card" style="height:auto">
            <h3 style="text-align: center;"><b>Products</b></h3>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">seller Name</th>
                        <th scope="col">descriptions</th>
                        <th scope="col">upload_date</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{product.seller.seller_profile.full_name}}</td>
                        <td>{{product.descriptions}}</td>
                        <td>{{product.upload_date}}</td>
                        <td>{% if product.public == True %}
                        <a href="{% url 'Admin_App:app' id=product.id %}" class="btn btn-success">Approve</a>
                        {% elif product.private == True %}
                        <a href="{% url 'Admin_App:rjt' id=product.id %}" class="btn btn-danger">Rejected</a>
                        {% else %}
                        <a href="{% url 'Admin_App:app' id=product.id %}" class="btn btn-success">Approve</a>
                        <a href="#" class="btn btn-danger">Rejected</a>

                        {% endif %}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                {% if product.public == True %}
                <div>
                    <h2>Generate secret Code</h2>
                    <form action="{% url 'Admin_App:generate_code' id=product.id %}">
                        <select name="length">
                            <option value="6">6</option>
                            <option value="8">8</option>
                            <option value="10">10</option>
                        </select> length <br><br>
                        <label> <input type="checkbox" name="uppercase">UPPERCASE</label><br>
                        <label> <input type="checkbox" name="numbers">Number</label><br>
                        <label> <input type="checkbox" name="symbols">Symbols</label><br>
                        <input type="submit" value="Generate" class="btn btn-primary">
                    </form>
                    <hr>
                </div>
                {% elif product.private == True %}
                <h3>Product is Rejected</h3>
                {% else %}
                <h3>Please do the rejected or approve </h3>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{%endblock%}