{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block body_block%}
<div class="w3-sidebar  w3-bar-block" style="width:25%;padding: 10px; overflow: hidden; background-color: #96cbeb;">
    <div class="row">
        <div class="col-3">
            {% if user.admin_profile.profile_pic %}
            <img src="/media/{{user.admin_profile.profile_pic}}" width="100px" height="100px" class="rounded-circle">
            {% else %}
            <img src="/media/default.jpg" width="100px" height="100px" class="rounded-circle">
            {% endif %}
        </div>
        <div class="col-6">
            <h4>&nbsp; &nbsp;&nbsp;{{user.username}} </h4>
            <h3>&nbsp; &nbsp;&nbsp;{{user.admin_profile.full_name}}</h3>
        </div>
    </div>
    <hr style="border-top: 1px solid #0d1215;">
    <p>{{user.admin_profile.description|linebreaks}}</p>
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li>
           <a href="{% url 'Login_App:ad_profile' %}" class="w3-bar-item w3-button">Dashboard</a>
        </li>

        <li>
           <a href="{% url 'Home_App:ad_home' %}" class="w3-bar-item w3-button">Home</a>
        </li>
        <li>
           <a href="{% url 'Login_App:admin_edit' %}" class="w3-bar-item w3-button">Edit Profile</a>
        </li>

        <li>
           <a href="{% url 'Admin_App:user_list' %}" class="w3-bar-item w3-button">Users List</a>
        </li>

        <li >
            <a href="{% url 'Admin_App:product_list' %}" class="w3-bar-item w3-button">Products List</a>
        </li>

        <li>
              <a class="w3-bar-item w3-button" href="{% url 'Login_App:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>

        </li>
    </ul>
    </div>
</div>


<div style="margin-left:25%">
<div class="w3-container">
    <br>
     <div class="row">
        <div class="col-2">
            <div class="card text-center" style="width: 10rem; background-color: #38aa89;">
                <h4 style="">Total Product</h4>
               <i class="fa-solid fa-user"></i>
                <hr>
              <div class="card-body">
                85
              </div>
            </div>
        </div>
        <div class="col-2">
           <div class="card text-center" style="width: 8rem; background-color: #82b6d9;">
                <h4>Total User</h4>
               <i class="fa-solid fa-users"></i>
               <hr>
              <div class="card-body">
                {{user_count}}
              </div>
            </div>

        </div>
        <div class="col-2">
           <div class="card text-center" style="width: 8rem; background-color: #008000;">
                <h4>Total Seller</h4>
               <i class="fa-solid fa-users"></i>
               <hr>
              <div class="card-body">
                {{seller_count}}
              </div>
            </div>
        </div>
        <div class="col-2">
           <div class="card text-center" style="width: 10rem; background-color: #82b6d9;">
                <h4>Total Employee</h4>
                <i class="fa-solid fa-users"></i>
               <hr>
              <div class="card-body">
                {{employee_count}}
              </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card" style="height:auto">
        <h3 style="text-align: center;"><b>Products List</b></h3>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">seller Name</th>
                <th scope="col">descriptions</th>
                  <th scope="col">upload_date</th>
                  <th scope="col">Actions</th>
              </tr>
            </thead>
          <tbody>
          {% for product in product_list %}
          <tr>
            <td>{{product.seller.seller_profile.full_name}}</td>
              <td>{{product.descriptions}}</td>
              <td>{{product.upload_date}}</td>
              <td><a href="{% url 'Admin_App:app' id=product.id %}" class="btn btn-danger">Approve</a></td>
          </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
    </div>
</div>
</div>

{%endblock%}